.footer{
    width: 100%;
    background-color: #F1F1F1;
}
.footer__content_wrap{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 32px 8px;
    min-width: 375px;
    max-width: 768px;
    height: 229px;
}
/*left-side*/
.footer__left-wrap{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 359px;
}
.footer__logo{
    color: #000;
    font-size: 22px;
    font-weight: 700;
}
.footer__text {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
/*right-wrap*/
.footer__right-wrap{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-width: 359px;
    max-width: 100%;
    height: 65px;
}
.footer__social-wrap{
    display: flex;
    justify-content: center;
    gap: 24px;
}
@media (min-width: 768px){
    .footer__content_wrap{
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding: 32px 12px;
        min-width: 768px;
        max-width: 1200px;
        height: 157px;
    }
    .footer__left-wrap{
        align-items: flex-start;
        width: 306px;
        height: 93px;
    }
    .footer__text.left-text{
        text-align: left;
    }
    .footer__right-wrap{
        align-items: flex-end;
        width: 306px;
        height: 93px;
    }
}
@media (min-width: 1368px) {
    .footer__content_wrap{
        min-width: 1200px;
        max-width: 1368px;
        margin: 0 auto;
        padding: 0 36px;
        height: 239px;
    }
}
